body{
    margin: 0;
    padding: 0;
    background-color: yellow;

    background-position: center;
    background-size: cover;
    font-family: sans-serzif;
} 
.img{
    background-image: url(../try\ 3.jpg)
}

.foot{
    margin-bottom: 2px;
}
/* 
nav {
    background-color: black;
    width: 100%;
    height: 60px;

}
nav ul {
    width: 35%;
    height: 50px;
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;

}

nav ul li {
    list-style: none;
    font-size: 20px;
    text-transform: uppercase;

}

nav ul li a {
    text-decoration: none;
    color: purple;
}

nav ul li a:hover {
    color: red;
} */